body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.solid {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 5px;
    text-align: left;
}


#result {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

/* Additional styles for the total and percentage section */
tr:last-child td {
    border-top: 2px solid #ddd;
    font-weight: bold;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
    table {
        font-size: 14px;
    }
}
